$brand-gray-xxx-dark:             #3e3f3e;
$brand-gray-xx-dark:              #58595b;
$brand-gray-x-dark:               #808285;
$brand-gray-dark:                 #a7a9ac;
$brand-gray:                      #cccccc;
$brand-gray-light:                #dddddd;
$brand-gray-x-light:              #eeeeee;

.wrap {
  background: white;
  display: inline-block;
}

.canvas {
  display: block;
  border: 1px solid $brand-gray;
  &:hover {
    border: 1px dotted $brand-gray-xx-dark;
  }
}