@import '../../../../../assets/stylesheets/variables';

.wrap {
  background: white;
  display: inline-block;
}

.canvas {
  display: block;
  border: 1px solid $brand-gray;
  &:hover {
    border: 1px dotted $brand-gray-xx-dark;
  }
}
